services:
  mikines-kitchen:
    image: ghcr.io/mikiligero/mikines-kitchen:latest
    container_name: mikines-kitchen
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    # privileged: true  <-- Didn't work, removing
    network_mode: "host" # Bypass network namespace issues in LXC
    # ports:
    #   - "3000:3000" <--- Not needed with host mode
    # volumes:
    #   # Persist the SQLite database
    #   - ./data/dev.db:/app/prisma/dev.db
    #   # Persist the uploaded images
    #   - ./public/uploads:/app/public/uploads
    environment:
      # Ensure Prisma knows where to find the DB
      - DATABASE_URL=${DATABASE_URL:-file:/tmp/dev.db}
      - JWT_SECRET=${JWT_SECRET}
