services:
  mikines-kitchen:
    image: ghcr.io/mikiligero/mikines-kitchen:latest
    container_name: mikines-kitchen
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: always
    privileged: true # Bypass LXC sysctl restrictions
    ports:
      - "3000:3000"
    # volumes:
    #   # Persist the SQLite database
    #   - ./data/dev.db:/app/prisma/dev.db
    #   # Persist the uploaded images
    #   - ./public/uploads:/app/public/uploads
    environment:
      # Ensure Prisma knows where to find the DB
      - DATABASE_URL=${DATABASE_URL:-file:/tmp/dev.db}
      - JWT_SECRET=${JWT_SECRET}
